In [2]:
import numpy as np
import pandas as pd

In [5]:
purchase = pd.read_csv("QVI_purchase_behaviour.csv")
transaction = pd.read_excel("QVI_transaction_data.xlsx")

In [8]:
purchase.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [9]:
transaction.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [13]:
transaction.value_counts()

DATE   STORE_NBR  LYLTY_CARD_NBR  TXN_ID  PROD_NBR  PROD_NAME                                 PROD_QTY  TOT_SALES
43374  107        107024          108462  45        Smiths Thinly Cut   Roast Chicken 175g    2         6.0          2
43282  1          1233            266     110       WW Original Corn    Chips 200g            1         1.9          1
                  1482            563     8         Smiths Crinkle Cut  Chips Original 170g   1         2.9          1
       2          2117            712     73        Smiths Crinkle Cut  Salt & Vinegar 170g   1         2.9          1
                  2283            895     108       Kettle Tortilla ChpsHny&Jlpno Chili 150g  2         9.2          1
                                                                                                                    ..
43646  271        271121          268918  75        Cobs Popd Sea Salt  Chips 110g            2         7.6          1
                  271160          269155  27        WW Supreme Cheese   Corn Chips 200g       2         3.8          1
                  271203          269422  22        Thins Chips         Originl saltd 175g    2         6.6          1
       272        272074          269737  60        Kettle Tortilla ChpsFeta&Garlic 150g      2         9.2          1
                  272096          269769  49        Infuzions SourCream&Herbs Veg Strws 110g  2         7.6          1
Name: count, Length: 264835, dtype: int64

In [14]:
purchase.value_counts()

LYLTY_CARD_NBR  LIFESTAGE               PREMIUM_CUSTOMER
2373711         YOUNG SINGLES/COUPLES   Mainstream          1
1000            YOUNG SINGLES/COUPLES   Premium             1
1002            YOUNG SINGLES/COUPLES   Mainstream          1
1003            YOUNG FAMILIES          Budget              1
1004            OLDER SINGLES/COUPLES   Mainstream          1
                                                           ..
1024            YOUNG SINGLES/COUPLES   Premium             1
1023            MIDAGE SINGLES/COUPLES  Premium             1
1022            OLDER FAMILIES          Budget              1
1020            YOUNG SINGLES/COUPLES   Mainstream          1
1019            OLDER SINGLES/COUPLES   Premium             1
Name: count, Length: 72637, dtype: int64

In [15]:
print(len(transaction.loc[transaction.PROD_QTY <0,:]))
print(len(transaction.loc[transaction.TOT_SALES<0,:]))

0
0

In [16]:
transaction.isna().any()

DATE              False
STORE_NBR         False
LYLTY_CARD_NBR    False
TXN_ID            False
PROD_NBR          False
PROD_NAME         False
PROD_QTY          False
TOT_SALES         False
dtype: bool

In [17]:
purchase.isna().any()

LYLTY_CARD_NBR      False
LIFESTAGE           False
PREMIUM_CUSTOMER    False
dtype: bool

In [18]:
print(transaction.columns.values)

['DATE' 'STORE_NBR' 'LYLTY_CARD_NBR' 'TXN_ID' 'PROD_NBR' 'PROD_NAME'
 'PROD_QTY' 'TOT_SALES']

In [19]:
print(purchase.columns.values)

['LYLTY_CARD_NBR' 'LIFESTAGE' 'PREMIUM_CUSTOMER']

In [21]:
quantium = pd.merge(transaction,purchase.set_index('LYLTY_CARD_NBR'), left_on = 'LYLTY_CARD_NBR', right_index = True)

In [22]:
print(quantium.columns.values)

['DATE' 'STORE_NBR' 'LYLTY_CARD_NBR' 'TXN_ID' 'PROD_NBR' 'PROD_NAME'
 'PROD_QTY' 'TOT_SALES' 'LIFESTAGE' 'PREMIUM_CUSTOMER']

In [24]:
transaction.shape

(264836, 8)

In [25]:
purchase.shape

(72637, 3)

In [26]:
quantium.shape

(264836, 10)

In [28]:
loyal = quantium.loc[:,['STORE_NBR','LIFESTAGE','PREMIUM_CUSTOMER']]

In [30]:
loyal.value_counts()

STORE_NBR  LIFESTAGE               PREMIUM_CUSTOMER
93         OLDER FAMILIES          Budget              330
43         OLDER FAMILIES          Budget              304
156        OLDER FAMILIES          Budget              254
30         OLDER FAMILIES          Budget              248
105        OLDER FAMILIES          Budget              247
                                                      ...
140        YOUNG FAMILIES          Mainstream            1
229        MIDAGE SINGLES/COUPLES  Budget                1
52         YOUNG FAMILIES          Premium               1
177        YOUNG FAMILIES          Premium               1
127        MIDAGE SINGLES/COUPLES  Mainstream            1
Name: count, Length: 5410, dtype: int64

In [33]:
sales = quantium.loc[:,['DATE', 'STORE_NBR', 'PROD_NBR','TOT_SALES']]

In [34]:
sales.value_counts()

DATE   STORE_NBR  PROD_NBR  TOT_SALES
43626  225        53        6.0          4
43368  226        14        11.8         3
43391  199        52        7.2          3
43318  72         36        10.8         3
43335  36         113       9.2          3
                                        ..
43282  8          104       7.6          1
       9          11        6.0          1
                  45        6.0          1
                  66        4.2          1
       3          81        7.4          1
Name: count, Length: 259639, dtype: int64

In [38]:
#demand = quantium.loc[:,[
quantium.loc[:,['PROD_NB'],for p in 'PROD_NB': i++; print('PROD_NM',i)]

SyntaxError: invalid syntax (144523731.py, line 2)

In [40]:
quantium['LIFESTAGE'].unique()

array(['YOUNG SINGLES/COUPLES', 'MIDAGE SINGLES/COUPLES', 'NEW FAMILIES',
       'OLDER FAMILIES', 'OLDER SINGLES/COUPLES', 'RETIREES',
       'YOUNG FAMILIES'], dtype=object)

In [41]:
quantium['PREMIUM_CUSTOMER'].unique()

array(['Premium', 'Budget', 'Mainstream'], dtype=object)